*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --red: #fe3a3a;
    --redOsc: #852a28;
    --black: #000;
    --skin: #ffb37f;
    --blue: #0000ff;
    --yellow: #ff0;
    --gray: #9da09b;
    --grayOsc: #33484d;

}

.mario{
    background-color: var(--red);
    width: 1rem;
    height: 1rem;
    margin: 2rem auto;

    box-shadow:
    1rem 0 var(--red),
    2rem 0 var(--red),
    3rem 0 var(--red),
    4rem 0 var(--red),

    -1rem 1rem var(--red),
    0rem 1rem var(--red),
    1rem 1rem var(--red),
    2rem 1rem var(--red),
    3rem 1rem var(--red),
    4rem 1rem var(--red),
    5rem 1rem var(--red),
    6rem 1rem var(--red),
    7rem 1rem var(--red),

    -1rem 2rem var(--black),
    0rem 2rem var(--black),
    1rem 2rem var(--black),
    2rem 2rem var(--skin),
    3rem 2rem var(--skin),
    4rem 2rem var(--black),
    5rem 2rem var(--skin),

    -2rem 3rem var(--black),
    -1rem 3rem var(--skin),
    0rem 3rem var(--black),
    1rem 3rem var(--skin),
    2rem 3rem var(--skin),
    3rem 3rem var(--skin),
    4rem 3rem var(--black),
    5rem 3rem var(--skin),
    6rem 3rem var(--skin),
    7rem 3rem var(--skin),

    -2rem 4rem var(--black),
    -1rem 4rem var(--skin),
    0rem 4rem var(--black),
    1rem 4rem var(--black),
    2rem 4rem var(--skin),
    3rem 4rem var(--skin),
    4rem 4rem var(--skin),
    5rem 4rem var(--black),
    6rem 4rem var(--skin),
    7rem 4rem var(--skin),
    8rem 4rem var(--skin),
    8rem 4rem var(--skin),

    -2rem 5rem var(--black),
    -1rem 5rem var(--black),
    0rem 5rem var(--skin),
    1rem 5rem var(--skin),
    2rem 5rem var(--skin),
    3rem 5rem var(--skin),
    4rem 5rem var(--black),
    5rem 5rem var(--black),
    6rem 5rem var(--black),
    7rem 5rem var(--black),

    0rem 6rem var(--skin),
    1rem 6rem var(--skin),
    2rem 6rem var(--skin),
    3rem 6rem var(--skin),
    4rem 6rem var(--skin),
    5rem 6rem var(--skin),
    6rem 6rem var(--skin),

    -1rem 7rem var(--blue),
    0rem 7rem var(--blue),
    1rem 7rem var(--red),
    2rem 7rem var(--blue),
    3rem 7rem var(--blue),
    4rem 7rem var(--blue),

    -2rem 8rem var(--blue),
    -1rem 8rem var(--blue),
    0rem 8rem var(--blue),
    1rem 8rem var(--red),
    2rem 8rem var(--blue),
    3rem 8rem var(--blue),
    4rem 8rem var(--red),
    5rem 8rem var(--blue),
    6rem 8rem var(--blue),
    7rem 8rem var(--blue),

    -3rem 9rem var(--blue),
    -2rem 9rem var(--blue),
    -1rem 9rem var(--blue),
    0rem 9rem var(--blue),
    1rem 9rem var(--red),
    2rem 9rem var(--blue),
    3rem 9rem var(--blue),
    4rem 9rem var(--red),
    5rem 9rem var(--blue),
    6rem 9rem var(--blue),
    7rem 9rem var(--blue),
    8rem 9rem var(--blue),

    -3rem 10rem var(--skin),
    -2rem 10rem var(--skin),
    -1rem 10rem var(--blue),
    0rem 10rem var(--blue),
    1rem 10rem var(--red),
    2rem 10rem var(--red),
    3rem 10rem var(--red),
    4rem 10rem var(--red),
    5rem 10rem var(--blue),
    6rem 10rem var(--blue),
    7rem 10rem var(--skin),
    8rem 10rem var(--skin),

    -3rem 11rem var(--skin),
    -2rem 11rem var(--skin),
    -1rem 11rem var(--skin),
    0rem 11rem var(--red),
    1rem 11rem var(--yellow),
    2rem 11rem var(--red),
    3rem 11rem var(--red),
    4rem 11rem var(--yellow),
    5rem 11rem var(--red),
    6rem 11rem var(--skin),
    7rem 11rem var(--skin),
    8rem 11rem var(--skin),

    -3rem 12rem var(--skin),
    -2rem 12rem var(--skin),
    -1rem 12rem var(--red),
    0rem 12rem var(--red),
    1rem 12rem var(--red),
    2rem 12rem var(--red),
    3rem 12rem var(--red),
    4rem 12rem var(--red),
    5rem 12rem var(--red),
    6rem 12rem var(--red),
    7rem 12rem var(--skin),
    8rem 12rem var(--skin),

    -1rem 13rem var(--red),
    0rem 13rem var(--red),
    1rem 13rem var(--red),
    4rem 13rem var(--red),
    5rem 13rem var(--red),
    6rem 13rem var(--red),

    -2rem 14rem var(--black),
    -1rem 14rem var(--black),
    0rem 14rem var(--black),
    5rem 14rem var(--black),
    6rem 14rem var(--black),
    7rem 14rem var(--black),

    
    -3rem 15rem var(--black),
    -2rem 15rem var(--black),
    -1rem 15rem var(--black),
    0rem 15rem var(--black),
    5rem 15rem var(--black),
    6rem 15rem var(--black),
    7rem 15rem var(--black),
    8rem 15rem var(--black),




    /* Spiderman */
    -1rem 20rem var(--black),
    0rem 20rem var(--black),
    1rem 20rem var(--black),
    2rem 20rem var(--black),
    3rem 20rem var(--black),
    4rem 20rem var(--black),
    5rem 20rem var(--black),


    -5rem 21rem var(--black),
    -4rem 21rem var(--black),
    -3rem 21rem var(--black),
    -2rem 21rem var(--black),
    -1rem 21rem var(--red),
    0rem 21rem var(--red),
    1rem 21rem var(--black),
    2rem 21rem var(--black),
    3rem 21rem var(--black),
    4rem 21rem var(--red),
    5rem 21rem var(--red),
    6rem 21rem var(--black),
    7rem 21rem var(--black),
    8rem 21rem var(--black),


    -7rem 22rem var(--black),
    -6rem 22rem var(--black),
    -5rem 22rem var(--red),
    -4rem 22rem var(--red),
    -3rem 22rem var(--red),
    -2rem 22rem var(--red),
    -1rem 22rem var(--black),
    0rem 22rem var(--black),
    1rem 22rem var(--red),
    2rem 22rem var(--red),
    3rem 22rem var(--red),
    4rem 22rem var(--black),
    5rem 22rem var(--black),
    6rem 22rem var(--black),
    7rem 22rem var(--red),
    8rem 22rem var(--red),
    9rem 22rem var(--black),
    10rem 22rem var(--black),


    -8rem 23rem var(--black),
    -7rem 23rem var(--red),
    -6rem 23rem var(--red),
    -5rem 23rem var(--black),
    -4rem 23rem var(--black),
    -3rem 23rem var(--black),
    -2rem 23rem var(--black),
    -1rem 23rem var(--red),
    0rem 23rem var(--red),
    1rem 23rem var(--red),
    2rem 23rem var(--red),
    3rem 23rem var(--red),
    4rem 23rem var(--red),
    5rem 23rem var(--red),
    6rem 23rem var(--red),
    7rem 23rem var(--black),
    8rem 23rem var(--red),
    9rem 23rem var(--black),
    10rem 23rem var(--red),
    11rem 23rem var(--black),


    -9rem 24rem var(--black),
    -8rem 24rem var(--red),
    -7rem 24rem var(--red),
    -6rem 24rem var(--black),
    -5rem 24rem var(--black),
    -4rem 24rem var(--red),
    -3rem 24rem var(--gray),
    -2rem 24rem var(--red),
    -1rem 24rem var(--red),
    0rem 24rem var(--red),
    1rem 24rem var(--red),
    2rem 24rem var(--red),
    3rem 24rem var(--red),
    4rem 24rem var(--red),
    5rem 24rem var(--red),
    6rem 24rem var(--red),
    7rem 24rem var(--red),
    8rem 24rem var(--black),
    9rem 24rem var(--black),
    10rem 24rem var(--black),
    11rem 24rem var(--red),
    12rem 24rem var(--black),
    13rem 24rem var(--black),


    -10rem 25rem var(--black),
    -9rem 25rem var(--red),
    -8rem 25rem var(--red),
    -7rem 25rem var(--black),
    -6rem 25rem var(--red),
    -5rem 25rem var(--red),
    -4rem 25rem var(--red),
    -3rem 25rem var(--gray),
    -2rem 25rem var(--red),
    -1rem 25rem var(--red),
    0rem 25rem var(--red),
    1rem 25rem var(--red),
    2rem 25rem var(--red),
    3rem 25rem var(--red),
    4rem 25rem var(--red),
    5rem 25rem var(--red),
    6rem 25rem var(--red),
    7rem 25rem var(--red),
    8rem 25rem var(--black),
    9rem 25rem var(--red),
    10rem 25rem var(--red),
    11rem 25rem var(--black),
    12rem 25rem var(--red),
    13rem 25rem var(--red),
    14rem 25rem var(--black),


    -11rem 26rem var(--black),
    -10rem 26rem var(--black),
    -9rem 26rem var(--red),
    -8rem 26rem var(--black),
    -7rem 26rem var(--red),
    -6rem 26rem var(--red),
    -5rem 26rem var(--red),
    -4rem 26rem var(--red),
    -3rem 26rem var(--gray),
    -2rem 26rem var(--red),
    -1rem 26rem var(--red),
    0rem 26rem var(--red),
    1rem 26rem var(--red),
    2rem 26rem var(--red),
    3rem 26rem var(--red),
    4rem 26rem var(--red),
    5rem 26rem var(--red),
    6rem 26rem var(--red),
    7rem 26rem var(--red),
    8rem 26rem var(--black),
    9rem 26rem var(--red),
    10rem 26rem var(--red),
    11rem 26rem var(--red),
    12rem 26rem var(--black),
    13rem 26rem var(--red),
    14rem 26rem var(--black),
    15rem 26rem var(--black),


    -12rem 27rem var(--black),
    -11rem 27rem var(--red),
    -10rem 27rem var(--red),
    -9rem 27rem var(--black),
    -8rem 27rem var(--red),
    -7rem 27rem var(--red),
    -6rem 27rem var(--red),
    -5rem 27rem var(--red),
    -4rem 27rem var(--red),
    -3rem 27rem var(--gray),
    -2rem 27rem var(--black),
    -1rem 27rem var(--black),
    0rem 27rem var(--black),
    1rem 27rem var(--black),
    2rem 27rem var(--black),
    3rem 27rem var(--black),
    4rem 27rem var(--black),
    5rem 27rem var(--black),
    6rem 27rem var(--black),
    7rem 27rem var(--black),
    8rem 27rem var(--black),
    9rem 27rem var(--red),
    10rem 27rem var(--red),
    11rem 27rem var(--red),
    12rem 27rem var(--red),
    13rem 27rem var(--black),
    14rem 27rem var(--black),
    15rem 27rem var(--red),
    16rem 27rem var(--black),


    -13rem 28rem var(--black),
    -12rem 28rem var(--red),
    -11rem 28rem var(--red),
    -10rem 28rem var(--black),
    -9rem 28rem var(--black),
    -8rem 28rem var(--red),
    -7rem 28rem var(--red),
    -6rem 28rem var(--red),
    -5rem 28rem var(--red),
    -4rem 28rem var(--gray),
    -3rem 28rem var(--gray),
    -2rem 28rem var(--red),
    -1rem 28rem var(--red),
    0rem 28rem var(--red),
    1rem 28rem var(--red),
    2rem 28rem var(--red),
    3rem 28rem var(--red),
    4rem 28rem var(--red),
    5rem 28rem var(--red),
    6rem 28rem var(--red),
    7rem 28rem var(--red),
    8rem 28rem var(--black),
    9rem 28rem var(--black),
    10rem 28rem var(--red),
    11rem 28rem var(--red),
    12rem 28rem var(--red),
    13rem 28rem var(--red),
    14rem 28rem var(--black),
    15rem 28rem var(--red),
    16rem 28rem var(--black),


    -13rem 29rem var(--black),
    -12rem 29rem var(--red),
    -11rem 29rem var(--black),
    -10rem 29rem var(--red),
    -9rem 29rem var(--gray),
    -8rem 29rem var(--red),
    -7rem 29rem var(--red),
    -6rem 29rem var(--red),
    -5rem 29rem var(--gray),
    -4rem 29rem var(--red),
    -3rem 29rem var(--red),
    -2rem 29rem var(--gray),
    -1rem 29rem var(--red),
    0rem 29rem var(--red),
    1rem 29rem var(--red),
    2rem 29rem var(--red),
    3rem 29rem var(--red),
    4rem 29rem var(--red),
    5rem 29rem var(--red),
    6rem 29rem var(--red),
    7rem 29rem var(--red),
    8rem 29rem var(--black),
    9rem 29rem var(--red),
    10rem 29rem var(--black),
    11rem 29rem var(--red),
    12rem 29rem var(--red),
    13rem 29rem var(--red),
    14rem 29rem var(--black),
    15rem 29rem var(--red),
    16rem 29rem var(--red),
    17rem 29rem var(--black),


    -14rem 30rem var(--black),
    -13rem 30rem var(--red),
    -12rem 30rem var(--red),
    -11rem 30rem var(--black),
    -10rem 30rem var(--red),
    -9rem 30rem var(--gray),
    -8rem 30rem var(--red),
    -7rem 30rem var(--red),
    -6rem 30rem var(--gray),
    -5rem 30rem var(--red),
    -4rem 30rem var(--red),
    -3rem 30rem var(--red),
    -2rem 30rem var(--gray),
    -1rem 30rem var(--red),
    0rem 30rem var(--red),
    1rem 30rem var(--red),
    2rem 30rem var(--red),
    3rem 30rem var(--red),
    4rem 30rem var(--red),
    5rem 30rem var(--red),
    6rem 30rem var(--red),
    7rem 30rem var(--black),
    8rem 30rem var(--red),
    9rem 30rem var(--red),
    10rem 30rem var(--black),
    11rem 30rem var(--red),
    12rem 30rem var(--red),
    13rem 30rem var(--black),
    14rem 30rem var(--red),
    15rem 30rem var(--black),
    16rem 30rem var(--red),
    17rem 30rem var(--black),
    18rem 30rem var(--black),


    -14rem 31rem var(--black),
    -13rem 31rem var(--red),
    -12rem 31rem var(--black),
    -11rem 31rem var(--red),
    -10rem 31rem var(--red),
    -9rem 31rem var(--red),
    -8rem 31rem var(--gray),
    -7rem 31rem var(--gray),
    -6rem 31rem var(--red),
    -5rem 31rem var(--red),
    -4rem 31rem var(--red),
    -3rem 31rem var(--red),
    -2rem 31rem var(--gray),
    -1rem 31rem var(--red),
    0rem 31rem var(--red),
    1rem 31rem var(--red),
    2rem 31rem var(--red),
    3rem 31rem var(--red),
    4rem 31rem var(--red),
    5rem 31rem var(--red),
    6rem 31rem var(--red),
    7rem 31rem var(--black),
    8rem 31rem var(--red),
    9rem 31rem var(--red),
    10rem 31rem var(--red),
    11rem 31rem var(--black),
    12rem 31rem var(--red),
    13rem 31rem var(--black),
    14rem 31rem var(--red),
    15rem 31rem var(--red),
    16rem 31rem var(--black),
    17rem 31rem var(--red),
    18rem 31rem var(--black),


    -15rem 32rem var(--black),
    -14rem 32rem var(--red),
    -13rem 32rem var(--red),
    -12rem 32rem var(--black),
    -11rem 32rem var(--red),
    -10rem 32rem var(--red),
    -9rem 32rem var(--gray),
    -8rem 32rem var(--red),
    -7rem 32rem var(--red),
    -6rem 32rem var(--red),
    -5rem 32rem var(--red),
    -4rem 32rem var(--red),
    -3rem 32rem var(--red),
    -2rem 32rem var(--gray),
    -1rem 32rem var(--red),
    0rem 32rem var(--red),
    1rem 32rem var(--red),
    2rem 32rem var(--red),
    3rem 32rem var(--red),
    4rem 32rem var(--red),
    5rem 32rem var(--red),
    6rem 32rem var(--red),
    7rem 32rem var(--black),
    8rem 32rem var(--red),
    9rem 32rem var(--red),
    10rem 32rem var(--red),
    11rem 32rem var(--red),
    12rem 32rem var(--black),
    13rem 32rem var(--red),
    14rem 32rem var(--red),
    15rem 32rem var(--red),
    16rem 32rem var(--black),
    17rem 32rem var(--red),
    18rem 32rem var(--red),
    19rem 32rem var(--black),


    -15rem 33rem var(--black),
    -14rem 33rem var(--black),
    -13rem 33rem var(--black),
    -12rem 33rem var(--red),
    -11rem 33rem var(--red),
    -10rem 33rem var(--red),
    -9rem 33rem var(--gray),
    -8rem 33rem var(--red),
    -7rem 33rem var(--red),
    -6rem 33rem var(--red),
    -5rem 33rem var(--red),
    -4rem 33rem var(--red),
    -3rem 33rem var(--red),
    -2rem 33rem var(--gray),
    -1rem 33rem var(--red),
    0rem 33rem var(--red),
    1rem 33rem var(--red),
    2rem 33rem var(--red),
    3rem 33rem var(--red),
    4rem 33rem var(--red),
    5rem 33rem var(--red),
    6rem 33rem var(--red),
    7rem 33rem var(--black),
    8rem 33rem var(--red),
    9rem 33rem var(--red),
    10rem 33rem var(--red),
    11rem 33rem var(--red),
    12rem 33rem var(--black),
    13rem 33rem var(--black),
    14rem 33rem var(--red),
    15rem 33rem var(--red),
    16rem 33rem var(--red),
    17rem 33rem var(--black),
    18rem 33rem var(--red),
    19rem 33rem var(--black),


    -15rem 34rem var(--black),
    -14rem 34rem var(--red),
    -13rem 34rem var(--black),
    -12rem 34rem var(--red),
    -11rem 34rem var(--red),
    -10rem 34rem var(--gray),
    -9rem 34rem var(--red),
    -8rem 34rem var(--gray),
    -7rem 34rem var(--red),
    -6rem 34rem var(--red),
    -5rem 34rem var(--red),
    -4rem 34rem var(--red),
    -3rem 34rem var(--red),
    -2rem 34rem var(--gray),
    -1rem 34rem var(--gray),
    0rem 34rem var(--black),
    1rem 34rem var(--black),
    2rem 34rem var(--black),
    3rem 34rem var(--black),
    4rem 34rem var(--black),
    5rem 34rem var(--black),
    6rem 34rem var(--black),
    7rem 34rem var(--black),
    8rem 34rem var(--red),
    9rem 34rem var(--red),
    10rem 34rem var(--red),
    11rem 34rem var(--red),
    12rem 34rem var(--black),
    13rem 34rem var(--red),
    14rem 34rem var(--black),
    15rem 34rem var(--red),
    16rem 34rem var(--red),
    17rem 34rem var(--black),
    18rem 34rem var(--black),
    19rem 34rem var(--black),


    -15rem 35rem var(--black),
    -14rem 35rem var(--red),
    -13rem 35rem var(--black),
    -12rem 35rem var(--red),
    -11rem 35rem var(--red),
    -10rem 35rem var(--gray),
    -9rem 35rem var(--red),
    -8rem 35rem var(--red),
    -7rem 35rem var(--gray),
    -6rem 35rem var(--red),
    -5rem 35rem var(--red),
    -4rem 35rem var(--red),
    -3rem 35rem var(--gray),
    -2rem 35rem var(--red),
    -1rem 35rem var(--gray),
    0rem 35rem var(--red),
    1rem 35rem var(--red),
    2rem 35rem var(--red),
    3rem 35rem var(--red),
    4rem 35rem var(--red),
    5rem 35rem var(--red),
    6rem 35rem var(--black),
    7rem 35rem var(--red),
    8rem 35rem var(--black),
    9rem 35rem var(--red),
    10rem 35rem var(--red),
    11rem 35rem var(--black),
    12rem 35rem var(--red),
    13rem 35rem var(--red),
    14rem 35rem var(--black),
    15rem 35rem var(--red),
    16rem 35rem var(--red),
    17rem 35rem var(--black),
    18rem 35rem var(--redOsc),
    19rem 35rem var(--black),


    -15rem 36rem var(--black),
    -14rem 36rem var(--red),
    -13rem 36rem var(--black),
    -12rem 36rem var(--red),
    -11rem 36rem var(--gray),
    -10rem 36rem var(--red),
    -9rem 36rem var(--red),
    -8rem 36rem var(--red),
    -7rem 36rem var(--gray),
    -6rem 36rem var(--red),
    -5rem 36rem var(--red),
    -4rem 36rem var(--gray),
    -3rem 36rem var(--red),
    -2rem 36rem var(--red),
    -1rem 36rem var(--gray),
    0rem 36rem var(--red),
    1rem 36rem var(--red),
    2rem 36rem var(--red),
    3rem 36rem var(--red),
    4rem 36rem var(--red),
    5rem 36rem var(--red),
    6rem 36rem var(--black),
    7rem 36rem var(--red),
    8rem 36rem var(--red),
    9rem 36rem var(--black),
    10rem 36rem var(--red),
    11rem 36rem var(--black),
    12rem 36rem var(--red),
    13rem 36rem var(--red),
    14rem 36rem var(--red),
    15rem 36rem var(--black),
    16rem 36rem var(--redOsc),
    17rem 36rem var(--black),
    18rem 36rem var(--redOsc),
    19rem 36rem var(--black),


    -15rem 37rem var(--black),
    -14rem 37rem var(--black),
    -13rem 37rem var(--red),
    -12rem 37rem var(--black),
    -11rem 37rem var(--gray),
    -10rem 37rem var(--red),
    -9rem 37rem var(--red),
    -8rem 37rem var(--red),
    -7rem 37rem var(--red),
    -6rem 37rem var(--gray),
    -5rem 37rem var(--gray),
    -4rem 37rem var(--red),
    -3rem 37rem var(--red),
    -2rem 37rem var(--red),
    -1rem 37rem var(--gray),
    0rem 37rem var(--red),
    1rem 37rem var(--red),
    2rem 37rem var(--red),
    3rem 37rem var(--red),
    4rem 37rem var(--red),
    5rem 37rem var(--black),
    6rem 37rem var(--red),
    7rem 37rem var(--red),
    8rem 37rem var(--red),
    9rem 37rem var(--red),
    10rem 37rem var(--black),
    11rem 37rem var(--red),
    12rem 37rem var(--red),
    13rem 37rem var(--red),
    14rem 37rem var(--red),
    15rem 37rem var(--black),
    16rem 37rem var(--redOsc),
    17rem 37rem var(--black),
    18rem 37rem var(--black),
    19rem 37rem var(--black),


    -15rem 38rem var(--black),
    -14rem 38rem var(--black),
    -13rem 38rem var(--red),
    -12rem 38rem var(--black),
    -11rem 38rem var(--red),
    -10rem 38rem var(--red),
    -9rem 38rem var(--red),
    -8rem 38rem var(--red),
    -7rem 38rem var(--red),
    -6rem 38rem var(--gray),
    -5rem 38rem var(--gray),
    -4rem 38rem var(--red),
    -3rem 38rem var(--red),
    -2rem 38rem var(--red),
    -1rem 38rem var(--gray),
    0rem 38rem var(--red),
    1rem 38rem var(--red),
    2rem 38rem var(--red),
    3rem 38rem var(--red),
    4rem 38rem var(--red),
    5rem 38rem var(--black),
    6rem 38rem var(--red),
    7rem 38rem var(--red),
    8rem 38rem var(--red),
    9rem 38rem var(--red),
    10rem 38rem var(--black),
    11rem 38rem var(--red),
    12rem 38rem var(--red),
    13rem 38rem var(--red),
    14rem 38rem var(--red),
    15rem 38rem var(--black),
    16rem 38rem var(--black),
    17rem 38rem var(--redOsc),
    18rem 38rem var(--black),
    19rem 38rem var(--black),


    -15rem 39rem var(--black),
    -14rem 39rem var(--black),
    -13rem 39rem var(--red),
    -12rem 39rem var(--black),
    -11rem 39rem var(--red),
    -10rem 39rem var(--red),
    -9rem 39rem var(--red),
    -8rem 39rem var(--red),
    -7rem 39rem var(--gray),
    -6rem 39rem var(--red),
    -5rem 39rem var(--gray),
    -4rem 39rem var(--red),
    -3rem 39rem var(--red),
    -2rem 39rem var(--red),
    -1rem 39rem var(--gray),
    0rem 39rem var(--red),
    1rem 39rem var(--red),
    2rem 39rem var(--red),
    3rem 39rem var(--red),
    4rem 39rem var(--red),
    5rem 39rem var(--black),
    6rem 39rem var(--red),
    7rem 39rem var(--red),
    8rem 39rem var(--red),
    9rem 39rem var(--red),
    10rem 39rem var(--black),
    11rem 39rem var(--black),
    12rem 39rem var(--red),
    13rem 39rem var(--red),
    14rem 39rem var(--red),
    15rem 39rem var(--red),
    16rem 39rem var(--black),
    17rem 39rem var(--redOsc),
    18rem 39rem var(--black),
    19rem 39rem var(--black),


    -15rem 40rem var(--black),
    -14rem 40rem var(--black),
    -13rem 40rem var(--red),
    -12rem 40rem var(--black),
    -11rem 40rem var(--red),
    -10rem 40rem var(--red),
    -9rem 40rem var(--red),
    -8rem 40rem var(--red),
    -7rem 40rem var(--gray),
    -6rem 40rem var(--red),
    -5rem 40rem var(--gray),
    -4rem 40rem var(--red),
    -3rem 40rem var(--red),
    -2rem 40rem var(--red),
    -1rem 40rem var(--gray),
    0rem 40rem var(--red),
    1rem 40rem var(--red),
    2rem 40rem var(--red),
    3rem 40rem var(--red),
    4rem 40rem var(--red),
    5rem 40rem var(--black),
    6rem 40rem var(--red),
    7rem 40rem var(--red),
    8rem 40rem var(--red),
    9rem 40rem var(--black),
    10rem 40rem var(--red),
    11rem 40rem var(--red),
    12rem 40rem var(--black),
    13rem 40rem var(--red),
    14rem 40rem var(--red),
    15rem 40rem var(--black),
    16rem 40rem var(--black),
    17rem 40rem var(--redOsc),
    18rem 40rem var(--black),
    19rem 40rem var(--black),


    -15rem 41rem var(--black),
    -14rem 41rem var(--red),
    -13rem 41rem var(--red),
    -12rem 41rem var(--black),
    -11rem 41rem var(--black),
    -10rem 41rem var(--red),
    -9rem 41rem var(--red),
    -8rem 41rem var(--gray),
    -7rem 41rem var(--red),
    -6rem 41rem var(--red),
    -5rem 41rem var(--red),
    -4rem 41rem var(--gray),
    -3rem 41rem var(--red),
    -2rem 41rem var(--red),
    -1rem 41rem var(--gray),
    0rem 41rem var(--black),
    1rem 41rem var(--black),
    2rem 41rem var(--black),
    3rem 41rem var(--black),
    4rem 41rem var(--black),
    5rem 41rem var(--black),
    6rem 41rem var(--red),
    7rem 41rem var(--red),
    8rem 41rem var(--red),
    9rem 41rem var(--black),
    10rem 41rem var(--red),
    11rem 41rem var(--red),
    12rem 41rem var(--red),
    13rem 41rem var(--black),
    14rem 41rem var(--red),
    15rem 41rem var(--black),
    16rem 41rem var(--black),
    17rem 41rem var(--redOsc),
    18rem 41rem var(--black),
    19rem 41rem var(--black),


    -15rem 42rem var(--black),
    -14rem 42rem var(--red),
    -13rem 42rem var(--red),
    -12rem 42rem var(--black),
    -11rem 42rem var(--black),
    -10rem 42rem var(--red),
    -9rem 42rem var(--red),
    -8rem 42rem var(--gray),
    -7rem 42rem var(--red),
    -6rem 42rem var(--red),
    -5rem 42rem var(--red),
    -4rem 42rem var(--gray),
    -3rem 42rem var(--red),
    -2rem 42rem var(--black),
    -1rem 42rem var(--black),
    0rem 42rem var(--red),
    1rem 42rem var(--red),
    2rem 42rem var(--red),
    3rem 42rem var(--red),
    4rem 42rem var(--black),
    5rem 42rem var(--red),
    6rem 42rem var(--black),
    7rem 42rem var(--black),
    8rem 42rem var(--red),
    9rem 42rem var(--black),
    10rem 42rem var(--red),
    11rem 42rem var(--red),
    12rem 42rem var(--red),
    13rem 42rem var(--redOsc),
    14rem 42rem var(--black),
    15rem 42rem var(--black),
    16rem 42rem var(--black),
    17rem 42rem var(--black),
    18rem 42rem var(--black),
    19rem 42rem var(--black),


    -15rem 43rem var(--black),
    -14rem 43rem var(--red),
    -13rem 43rem var(--black),
    -12rem 43rem var(--black),
    -11rem 43rem var(--black),
    -10rem 43rem var(--gray),
    -9rem 43rem var(--gray),
    -8rem 43rem var(--red),
    -7rem 43rem var(--red),
    -6rem 43rem var(--red),
    -5rem 43rem var(--red),
    -4rem 43rem var(--gray),
    -3rem 43rem var(--black),
    -2rem 43rem var(--red),
    -1rem 43rem var(--red),
    0rem 43rem var(--black),
    1rem 43rem var(--red),
    2rem 43rem var(--red),
    3rem 43rem var(--red),
    4rem 43rem var(--black),
    5rem 43rem var(--red),
    6rem 43rem var(--red),
    7rem 43rem var(--red),
    8rem 43rem var(--black),
    9rem 43rem var(--black),
    10rem 43rem var(--black),
    11rem 43rem var(--red),
    12rem 43rem var(--redOsc),
    13rem 43rem var(--redOsc),
    14rem 43rem var(--black),
    15rem 43rem var(--black),
    16rem 43rem var(--black),
    17rem 43rem var(--black),
    18rem 43rem var(--black),
    19rem 43rem var(--black),


    -15rem 44rem var(--black),
    -14rem 44rem var(--red),
    -13rem 44rem var(--black),
    -12rem 44rem var(--black),
    -11rem 44rem var(--gray),
    -10rem 44rem var(--black),
    -9rem 44rem var(--red),
    -8rem 44rem var(--red),
    -7rem 44rem var(--red),
    -6rem 44rem var(--red),
    -5rem 44rem var(--red),
    -4rem 44rem var(--gray),
    -3rem 44rem var(--red),
    -2rem 44rem var(--red),
    -1rem 44rem var(--red),
    0rem 44rem var(--black),
    1rem 44rem var(--red),
    2rem 44rem var(--red),
    3rem 44rem var(--red),
    4rem 44rem var(--black),
    5rem 44rem var(--red),
    6rem 44rem var(--red),
    7rem 44rem var(--red),
    8rem 44rem var(--black),
    9rem 44rem var(--redOsc),
    10rem 44rem var(--redOsc),
    11rem 44rem var(--black),
    12rem 44rem var(--redOsc),
    13rem 44rem var(--black),
    14rem 44rem var(--black),
    15rem 44rem var(--black),
    16rem 44rem var(--black),
    17rem 44rem var(--black),
    18rem 44rem var(--black),
    19rem 44rem var(--black),


    -15rem 45rem var(--black),
    -14rem 45rem var(--black),
    -13rem 45rem var(--red),
    -12rem 45rem var(--black),
    -11rem 45rem var(--gray),
    -10rem 45rem var(--grayOsc),
    -9rem 45rem var(--black),
    -8rem 45rem var(--red),
    -7rem 45rem var(--red),
    -6rem 45rem var(--red),
    -5rem 45rem var(--black),
    -4rem 45rem var(--gray),
    -3rem 45rem var(--black),
    -2rem 45rem var(--red),
    -1rem 45rem var(--red),
    0rem 45rem var(--black),
    1rem 45rem var(--red),
    2rem 45rem var(--red),
    3rem 45rem var(--black),
    4rem 45rem var(--red),
    5rem 45rem var(--red),
    6rem 45rem var(--red),
    7rem 45rem var(--black),
    8rem 45rem var(--red),
    9rem 45rem var(--black),
    10rem 45rem var(--redOsc),
    11rem 45rem var(--black),
    12rem 45rem var(--black),
    13rem 45rem var(--black),
    14rem 45rem var(--black),
    15rem 45rem var(--grayOsc),
    16rem 45rem var(--black),
    17rem 45rem var(--black),
    18rem 45rem var(--black),
    19rem 45rem var(--black),
    33rem 45rem var(--black),
    34rem 45rem var(--black),


    -15rem 46rem var(--black),
    -14rem 46rem var(--red),
    -13rem 46rem var(--red),
    -12rem 46rem var(--black),
    -11rem 46rem var(--gray),
    -10rem 46rem var(--gray),
    -9rem 46rem var(--black),
    -8rem 46rem var(--black),
    -7rem 46rem var(--red),
    -6rem 46rem var(--black),
    -5rem 46rem var(--red),
    -4rem 46rem var(--red),
    -3rem 46rem var(--red),
    -2rem 46rem var(--black),
    -1rem 46rem var(--red),
    0rem 46rem var(--black),
    1rem 46rem var(--red),
    2rem 46rem var(--red),
    3rem 46rem var(--black),
    4rem 46rem var(--red),
    5rem 46rem var(--red),
    6rem 46rem var(--black),
    7rem 46rem var(--black),
    8rem 46rem var(--red),
    9rem 46rem var(--black),
    10rem 46rem var(--redOsc),
    11rem 46rem var(--black),
    12rem 46rem var(--black),
    13rem 46rem var(--black),
    14rem 46rem var(--grayOsc),
    15rem 46rem var(--grayOsc),
    16rem 46rem var(--black),
    17rem 46rem var(--black),
    18rem 46rem var(--black),
    19rem 46rem var(--black),
    26rem 46rem var(--black),
    27rem 46rem var(--black),
    28rem 46rem var(--black),
    29rem 46rem var(--black),
    30rem 46rem var(--black),
    31rem 46rem var(--black),
    32rem 46rem var(--black),
    33rem 46rem var(--black),
    34rem 46rem var(--red),


    -15rem 47rem var(--black),
    -14rem 47rem var(--red),
    -13rem 47rem var(--red),
    -12rem 47rem var(--black),
    -11rem 47rem var(--gray),
    -9rem 47rem var(--gray),
    -8rem 47rem var(--black),
    -7rem 47rem var(--black),
    -6rem 47rem var(--red),
    -5rem 47rem var(--red),
    -4rem 47rem var(--red),
    -3rem 47rem var(--red),
    -2rem 47rem var(--black),
    -1rem 47rem var(--red),
    0rem 47rem var(--red),
    1rem 47rem var(--black),
    2rem 47rem var(--red),
    3rem 47rem var(--black),
    4rem 47rem var(--red),
    5rem 47rem var(--red),
    6rem 47rem var(--black),
    7rem 47rem var(--red),
    8rem 47rem var(--red),
    9rem 47rem var(--redOsc),
    10rem 47rem var(--black),
    11rem 47rem var(--black),
    12rem 47rem var(--black),
    13rem 47rem var(--grayOsc),
    14rem 47rem var(--gray),
    15rem 47rem var(--grayOsc),
    16rem 47rem var(--black),
    17rem 47rem var(--black),
    18rem 47rem var(--black),
    19rem 47rem var(--black),
    22rem 47rem var(--black),
    23rem 47rem var(--black),
    24rem 47rem var(--black),
    25rem 47rem var(--black),
    26rem 47rem var(--red),
    27rem 47rem var(--red),
    28rem 47rem var(--red),
    29rem 47rem var(--red),
    30rem 47rem var(--red),
    31rem 47rem var(--black),
    32rem 47rem var(--black),
    33rem 47rem var(--black),
    34rem 47rem var(--red),


    -15rem 48rem var(--black),
    -14rem 48rem var(--red),
    -13rem 48rem var(--red),
    -12rem 48rem var(--black),
    -11rem 48rem var(--gray),
    -10rem 48rem var(--gray),
    -9rem 48rem var(--gray),
    -8rem 48rem var(--gray),
    -7rem 48rem var(--grayOsc),
    -6rem 48rem var(--black),
    -5rem 48rem var(--red),
    -4rem 48rem var(--red),
    -3rem 48rem var(--red),
    -2rem 48rem var(--red),
    -1rem 48rem var(--black),
    0rem 48rem var(--black),
    1rem 48rem var(--black),
    2rem 48rem var(--black),
    3rem 48rem var(--black),
    4rem 48rem var(--black),
    5rem 48rem var(--black),
    6rem 48rem var(--red),
    7rem 48rem var(--red),
    8rem 48rem var(--redOsc),
    9rem 48rem var(--redOsc),
    10rem 48rem var(--black),
    11rem 48rem var(--black),
    12rem 48rem var(--black),
    13rem 48rem var(--gray),
    14rem 48rem var(--gray),
    15rem 48rem var(--grayOsc),
    16rem 48rem var(--black),
    17rem 48rem var(--black),
    18rem 48rem var(--black),
    19rem 48rem var(--black),
    20rem 48rem var(--black),
    21rem 48rem var(--black),
    22rem 48rem var(--red),
    23rem 48rem var(--red),
    24rem 48rem var(--red),
    25rem 48rem var(--red),
    26rem 48rem var(--red),
    27rem 48rem var(--red),
    28rem 48rem var(--red),
    29rem 48rem var(--red),
    30rem 48rem var(--black),
    31rem 48rem var(--black),
    32rem 48rem var(--red),
    33rem 48rem var(--red),
    34rem 48rem var(--red),


    -15rem 49rem var(--black),
    -14rem 49rem var(--red),
    -13rem 49rem var(--red),
    -12rem 49rem var(--black),
    -11rem 49rem var(--gray),
    -10rem 49rem var(--gray),
    -8rem 49rem var(--gray),
    -7rem 49rem var(--grayOsc),
    -6rem 49rem var(--grayOsc),
    -5rem 49rem var(--black),
    -4rem 49rem var(--red),
    -3rem 49rem var(--red),
    -2rem 49rem var(--red),
    -1rem 49rem var(--black),
    0rem 49rem var(--red),
    1rem 49rem var(--red),
    2rem 49rem var(--black),
    3rem 49rem var(--red),
    4rem 49rem var(--black),
    5rem 49rem var(--black),
    6rem 49rem var(--red),
    7rem 49rem var(--red),
    8rem 49rem var(--redOsc),
    9rem 49rem var(--black),
    10rem 49rem var(--black),
    11rem 49rem var(--black),
    12rem 49rem var(--gray),
    13rem 49rem var(--gray),
    14rem 49rem var(--gray),
    15rem 49rem var(--black),
    16rem 49rem var(--black),
    17rem 49rem var(--redOsc),
    18rem 49rem var(--black),
    19rem 49rem var(--black),
    20rem 49rem var(--redOsc),
    21rem 49rem var(--red),
    22rem 49rem var(--red),
    23rem 49rem var(--red),
    24rem 49rem var(--red),
    25rem 49rem var(--red),
    26rem 49rem var(--red),
    27rem 49rem var(--black),
    28rem 49rem var(--black),
    29rem 49rem var(--black),
    30rem 49rem var(--red),
    31rem 49rem var(--black),
    32rem 49rem var(--red),
    33rem 49rem var(--red),
    34rem 49rem var(--red),



    -20rem 50rem var(--black),
    -19rem 50rem var(--black),
    -18rem 50rem var(--black),
    -17rem 50rem var(--black),
    -16rem 50rem var(--black),
    -15rem 50rem var(--black),
    -14rem 50rem var(--black),
    -13rem 50rem var(--black),
    -12rem 50rem var(--black),
    -11rem 50rem var(--black),
    -10rem 50rem var(--gray),
    -7rem 50rem var(--gray),
    -6rem 50rem var(--grayOsc),
    -5rem 50rem var(--black),
    -4rem 50rem var(--black),
    -3rem 50rem var(--red),
    -2rem 50rem var(--black),
    -1rem 50rem var(--red),
    0rem 50rem var(--black),
    1rem 50rem var(--red),
    2rem 50rem var(--black),
    3rem 50rem var(--black),
    4rem 50rem var(--red),
    5rem 50rem var(--red),
    6rem 50rem var(--black),
    7rem 50rem var(--black),
    8rem 50rem var(--redOsc),
    9rem 50rem var(--black),
    10rem 50rem var(--black),
    11rem 50rem var(--grayOsc),
    12rem 50rem var(--gray),
    13rem 50rem var(--gray),
    14rem 50rem var(--grayOsc),
    15rem 50rem var(--black),
    16rem 50rem var(--black),
    17rem 50rem var(--black),
    18rem 50rem var(--black),
    19rem 50rem var(--black),
    20rem 50rem var(--redOsc),
    21rem 50rem var(--red),
    22rem 50rem var(--red),
    23rem 50rem var(--red),
    24rem 50rem var(--red),
    25rem 50rem var(--red),
    26rem 50rem var(--black),
    27rem 50rem var(--red),
    28rem 50rem var(--red),
    29rem 50rem var(--red),
    30rem 50rem var(--red),
    31rem 50rem var(--black),
    32rem 50rem var(--red),
    33rem 50rem var(--red),
    34rem 50rem var(--red),


    -24rem 51rem var(--black),
    -23rem 51rem var(--black),
    -22rem 51rem var(--black),
    -21rem 51rem var(--black),
    -20rem 51rem var(--red),
    -19rem 51rem var(--red),
    -18rem 51rem var(--red),
    -17rem 51rem var(--red),
    -16rem 51rem var(--red),
    -15rem 51rem var(--black),
    -14rem 51rem var(--red),
    -13rem 51rem var(--red),
    -12rem 51rem var(--red),
    -11rem 51rem var(--black),
    -10rem 51rem var(--gray),
    -7rem 51rem var(--gray),
    -6rem 51rem var(--gray),
    -5rem 51rem var(--grayOsc),
    -4rem 51rem var(--black),
    -3rem 51rem var(--black),
    -2rem 51rem var(--red),
    -1rem 51rem var(--red),
    0rem 51rem var(--red),
    1rem 51rem var(--black),
    2rem 51rem var(--black),
    3rem 51rem var(--red),
    4rem 51rem var(--red),
    5rem 51rem var(--red),
    6rem 51rem var(--red),
    7rem 51rem var(--black),
    8rem 51rem var(--black),
    9rem 51rem var(--black),
    10rem 51rem var(--grayOsc),
    11rem 51rem var(--gray),
    12rem 51rem var(--gray),
    13rem 51rem var(--gray),
    14rem 51rem var(--grayOsc),
    15rem 51rem var(--black),
    16rem 51rem var(--black),
    17rem 51rem var(--black),
    18rem 51rem var(--black),
    19rem 51rem var(--black),
    20rem 51rem var(--redOsc),
    21rem 51rem var(--red),
    22rem 51rem var(--red),
    23rem 51rem var(--red),
    24rem 51rem var(--black),
    25rem 51rem var(--black),
    26rem 51rem var(--redOsc),
    27rem 51rem var(--redOsc),
    28rem 51rem var(--redOsc),
    29rem 51rem var(--redOsc),
    30rem 51rem var(--redOsc),
    31rem 51rem var(--black),
    32rem 51rem var(--red),
    33rem 51rem var(--red),
    34rem 51rem var(--black),


    -26rem 52rem var(--black),
    -25rem 52rem var(--black),
    -24rem 52rem var(--black),
    -23rem 52rem var(--red),
    -22rem 52rem var(--red),
    -21rem 52rem var(--red),
    -20rem 52rem var(--red),
    -19rem 52rem var(--red),
    -18rem 52rem var(--red),
    -17rem 52rem var(--red),
    -16rem 52rem var(--red),
    -15rem 52rem var(--black),
    -14rem 52rem var(--red),
    -13rem 52rem var(--red),
    -12rem 52rem var(--red),
    -11rem 52rem var(--black),
    -10rem 52rem var(--grayOsc),
    -5rem 52rem var(--gray),
    -4rem 52rem var(--grayOsc),
    -3rem 52rem var(--black),
    -2rem 52rem var(--black),
    -1rem 52rem var(--red),
    0rem 52rem var(--red),
    1rem 52rem var(--black),
    2rem 52rem var(--black),
    3rem 52rem var(--red),
    4rem 52rem var(--red),
    5rem 52rem var(--red),
    6rem 52rem var(--red),
    7rem 52rem var(--black),
    8rem 52rem var(--black),
    9rem 52rem var(--grayOsc),
    10rem 52rem var(--gray),
    11rem 52rem var(--gray),
    12rem 52rem var(--gray),
    13rem 52rem var(--grayOsc),
    14rem 52rem var(--black),
    15rem 52rem var(--black),
    16rem 52rem var(--black),
    17rem 52rem var(--black),
    18rem 52rem var(--black),
    19rem 52rem var(--black),
    20rem 52rem var(--redOsc),
    21rem 52rem var(--redOsc),
    22rem 52rem var(--black),
    23rem 52rem var(--black),
    24rem 52rem var(--black),
    25rem 52rem var(--black),
    26rem 52rem var(--black),
    27rem 52rem var(--black),
    28rem 52rem var(--black),
    29rem 52rem var(--black),
    30rem 52rem var(--black),
    31rem 52rem var(--black),
    32rem 52rem var(--black),
    33rem 52rem var(--black),
    34rem 52rem var(--black),



    -27rem 53rem var(--black),
    -26rem 53rem var(--red),
    -25rem 53rem var(--red),
    -24rem 53rem var(--red),
    -23rem 53rem var(--black),
    -22rem 53rem var(--red),
    -21rem 53rem var(--red),
    -20rem 53rem var(--red),
    -19rem 53rem var(--black),
    -18rem 53rem var(--black),
    -17rem 53rem var(--black),
    -16rem 53rem var(--black),
    -15rem 53rem var(--red),
    -14rem 53rem var(--black),
    -13rem 53rem var(--red),
    -12rem 53rem var(--red),
    -11rem 53rem var(--red),
    -10rem 53rem var(--black),
    -9rem 53rem var(--gray),
    -4rem 53rem var(--gray),
    -3rem 53rem var(--grayOsc),
    -2rem 53rem var(--black),
    -1rem 53rem var(--black),
    0rem 53rem var(--black),
    1rem 53rem var(--red),
    2rem 53rem var(--black),
    3rem 53rem var(--red),
    4rem 53rem var(--black),
    5rem 53rem var(--black),
    6rem 53rem var(--black),
    7rem 53rem var(--black),
    8rem 53rem var(--grayOsc),
    9rem 53rem var(--gray),
    10rem 53rem var(--gray),
    11rem 53rem var(--gray),
    12rem 53rem var(--gray),
    13rem 53rem var(--grayOsc),
    14rem 53rem var(--black),
    15rem 53rem var(--redOsc),
    16rem 53rem var(--redOsc),
    17rem 53rem var(--black),
    18rem 53rem var(--black),
    19rem 53rem var(--black),
    20rem 53rem var(--black),
    21rem 53rem var(--black),
    22rem 53rem var(--black),
    23rem 53rem var(--black),
    24rem 53rem var(--black),
    25rem 53rem var(--black),
    26rem 53rem var(--redOsc),
    27rem 53rem var(--redOsc),
    28rem 53rem var(--redOsc),
    29rem 53rem var(--redOsc),
    30rem 53rem var(--redOsc),
    31rem 53rem var(--black),
    32rem 53rem var(--black),
    33rem 53rem var(--redOsc),
    34rem 53rem var(--redOsc),


    -29rem 54rem var(--black),
    -28rem 54rem var(--black),
    -27rem 54rem var(--red),
    -26rem 54rem var(--red),
    -25rem 54rem var(--red),
    -24rem 54rem var(--red),
    -23rem 54rem var(--red),
    -22rem 54rem var(--black),
    -21rem 54rem var(--black),
    -20rem 54rem var(--black),
    -19rem 54rem var(--red),
    -18rem 54rem var(--red),
    -17rem 54rem var(--red),
    -16rem 54rem var(--red),
    -15rem 54rem var(--red),
    -14rem 54rem var(--black),
    -13rem 54rem var(--red),
    -12rem 54rem var(--red),
    -11rem 54rem var(--red),
    -10rem 54rem var(--black),
    -9rem 54rem var(--grayOsc),
    -8rem 54rem var(--gray),
    -5rem 54rem var(--gray),
    -4rem 54rem var(--gray),
    -3rem 54rem var(--grayOsc),
    -2rem 54rem var(--black),
    -1rem 54rem var(--black),
    0rem 54rem var(--red),
    1rem 54rem var(--gray),
    2rem 54rem var(--black),
    3rem 54rem var(--black),
    4rem 54rem var(--red),
    5rem 54rem var(--black),
    6rem 54rem var(--black),
    7rem 54rem var(--black),
    8rem 54rem var(--grayOsc),
    9rem 54rem var(--gray),
    10rem 54rem var(--gray),
    11rem 54rem var(--gray),
    12rem 54rem var(--grayOsc),
    13rem 54rem var(--black),
    14rem 54rem var(--black),
    15rem 54rem var(--redOsc),
    16rem 54rem var(--black),
    17rem 54rem var(--black),
    18rem 54rem var(--black),
    19rem 54rem var(--black),
    20rem 54rem var(--black),
    21rem 54rem var(--black),
    22rem 54rem var(--black),
    23rem 54rem var(--black),
    24rem 54rem var(--black),
    25rem 54rem var(--redOsc),
    26rem 54rem var(--redOsc),
    27rem 54rem var(--redOsc),
    28rem 54rem var(--redOsc),
    29rem 54rem var(--redOsc),
    30rem 54rem var(--redOsc),
    31rem 54rem var(--black),
    32rem 54rem var(--black),
    33rem 54rem var(--redOsc),
    34rem 54rem var(--redOsc),


    -29rem 55rem var(--red),
    -28rem 55rem var(--red),
    -27rem 55rem var(--red),
    -26rem 55rem var(--red),
    -25rem 55rem var(--red),
    -24rem 55rem var(--red),
    -23rem 55rem var(--black),
    -22rem 55rem var(--red),
    -21rem 55rem var(--red),
    -20rem 55rem var(--black),
    -19rem 55rem var(--red),
    -18rem 55rem var(--red),
    -17rem 55rem var(--red),
    -16rem 55rem var(--red),
    -15rem 55rem var(--red),
    -14rem 55rem var(--redOsc),
    -13rem 55rem var(--black),
    -12rem 55rem var(--black),
    -11rem 55rem var(--red),
    -10rem 55rem var(--red),
    -9rem 55rem var(--black),
    -8rem 55rem var(--gray),
    -5rem 55rem var(--gray),
    -4rem 55rem var(--grayOsc),
    -3rem 55rem var(--black),
    -2rem 55rem var(--red),
    -1rem 55rem var(--red),
    0rem 55rem var(--red),
    1rem 55rem var(--gray),
    2rem 55rem var(--red),
    3rem 55rem var(--red),
    4rem 55rem var(--red),
    5rem 55rem var(--red),
    6rem 55rem var(--black),
    7rem 55rem var(--black),
    8rem 55rem var(--black),
    9rem 55rem var(--grayOsc),
    10rem 55rem var(--gray),
    11rem 55rem var(--gray),
    12rem 55rem var(--black),
    13rem 55rem var(--black),
    14rem 55rem var(--redOsc),
    15rem 55rem var(--redOsc),
    16rem 55rem var(--black),
    17rem 55rem var(--black),
    18rem 55rem var(--black),
    19rem 55rem var(--black),
    20rem 55rem var(--black),
    21rem 55rem var(--black),
    22rem 55rem var(--black),
    23rem 55rem var(--redOsc),
    24rem 55rem var(--black),
    25rem 55rem var(--black),
    26rem 55rem var(--redOsc),
    27rem 55rem var(--redOsc),
    28rem 55rem var(--redOsc),
    29rem 55rem var(--redOsc),
    30rem 55rem var(--black),
    31rem 55rem var(--black),
    32rem 55rem var(--black),
    33rem 55rem var(--redOsc),
    34rem 55rem var(--red),



    -29rem 56rem var(--red),
    -28rem 56rem var(--red),
    -27rem 56rem var(--red),
    -26rem 56rem var(--red),
    -25rem 56rem var(--red),
    -24rem 56rem var(--black),
    -23rem 56rem var(--red),
    -22rem 56rem var(--red),
    -21rem 56rem var(--red),
    -20rem 56rem var(--black),
    -19rem 56rem var(--redOsc),
    -18rem 56rem var(--redOsc),
    -17rem 56rem var(--redOsc),
    -16rem 56rem var(--redOsc),
    -15rem 56rem var(--redOsc),
    -14rem 56rem var(--redOsc),
    -13rem 56rem var(--black),
    -12rem 56rem var(--black),
    -11rem 56rem var(--red),
    -10rem 56rem var(--red),
    -9rem 56rem var(--red),
    -8rem 56rem var(--black),
    -7rem 56rem var(--gray),
    -6rem 56rem var(--gray),
    -5rem 56rem var(--grayOsc),
    -4rem 56rem var(--black),
    -3rem 56rem var(--red),
    -2rem 56rem var(--red),
    -1rem 56rem var(--red),
    0rem 56rem var(--red),
    1rem 56rem var(--gray),
    2rem 56rem var(--red),
    3rem 56rem var(--black),
    4rem 56rem var(--red),
    5rem 56rem var(--red),
    6rem 56rem var(--red),
    7rem 56rem var(--black),
    8rem 56rem var(--black),
    9rem 56rem var(--black),
    10rem 56rem var(--grayOsc),
    11rem 56rem var(--black),
    12rem 56rem var(--black),
    13rem 56rem var(--black),
    14rem 56rem var(--black),
    15rem 56rem var(--redOsc),
    16rem 56rem var(--black),
    17rem 56rem var(--black),
    18rem 56rem var(--black),
    19rem 56rem var(--black),
    20rem 56rem var(--black),
    21rem 56rem var(--black),
    22rem 56rem var(--black),
    23rem 56rem var(--redOsc),
    24rem 56rem var(--redOsc),
    25rem 56rem var(--black),
    26rem 56rem var(--redOsc),
    27rem 56rem var(--redOsc),
    28rem 56rem var(--redOsc),
    29rem 56rem var(--black),
    30rem 56rem var(--redOsc),
    31rem 56rem var(--redOsc),
    32rem 56rem var(--black),
    33rem 56rem var(--redOsc),
    34rem 56rem var(--red),

















    -5rem 90rem var(--black);
}